body , div{
    margin: 0 auto;
}

.title{
    margin-left: 20px;
    margin-right: 20px;
    height: 40px;
    border-radius: 5px;
    background-color: gainsboro;
    line-height: 40px;
    padding-left: 5px;
    margin-top: 10px;
    margin-bottom: 20px;
}

.head{
    margin-left: 20px;
    margin-right: 20px;
    width: auto;
    height: 200px;
}

.b_title , .b_url , .b_tag , .b_category{
    width:49%;
    height:30px;
    margin-top: 10px;
    font-size: 20px;
}

.b_title{
    float: left;
}

.b_url{
    float: right;
}

.b_tag{
    float: left;
}

.b_category{
    float: right;
}