.title{
    margin-left: 20px;
    margin-right: 20px;
    height: 40px;
    border-radius: 5px;
    background-color: gainsboro;
    line-height: 40px;
    padding-left: 5px;
    margin-top: 10px;
    margin-bottom: 20px;
}

.table{
    margin-left: 20px;
    margin-right: 20px;
    border:1px solid gray;
    border-radius: 5px;
    text-align:left;
}

.insideTable{
    width: 100%;
}

.tableHead{
    height: 40px;
    font-size:20px;
}

.m_title{
    width: 30%;
}

.m_time{
    width: 10%;
}
.m_pageview{
    width: 10%;
}
.m_category{
    width: 10%;
}
.m_status{
    width: 10%;
}

.m_operation{
    width: 30%;
}